//tabs.less

.tabs {
	display: none;

	@media @BPD {
		display: block;
	}
}

.tab {

}

.tab-panels {

}

.tab-panel {

}

.tab-panel-header {

	@media @BPD {
		.visually-hidden;
	}

}

.tab-panel-title {

}

.tab-panel-body {

	img {
		max-width: 100%;
	}
}