//tabs.less

.tab-container {
	.list-unstyled;
	display: none;

	@media @BPD {
		display: block;
	}
}

.tab {
	color: @color-text;
	text-decoration: none;

	&.active {
		text-decoration: underline;
	}
}

.tab-panel-container {

}

.tab-panel {
	float: left;
	width: 100%;
	margin: @vr*2 0;

	@media @BPD {
		margin: 0;

		.js & {
			display: none;
		}

		&.active {
			display: block;
		}
	}
}

.tab-panel-header {

	@media @BPD {
		.visually-hidden;
	}

}

.tab-panel-title {

}

.tab-panel-body {
	float: left;
	width: 100%;

	.js & {
		display: none;

		@media @BPD {
			display: block;
		}
	}

	.active & {

		.js & {
			display: block;
		}
	}

	img {
		max-width: 100%;
	}
}